body {
	font-family: arial;
}

p {
 		padding-top:10px;
   	
}


input {
	  padding-bottom: 10px;
    padding-top: 10px;
}


button.btn.btn-primary {

    padding-top: 14px;
    padding-bottom: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

.resultdiv h2 {
  color: red;
  font-size: 5em;
}
